body {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 5rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
}

.item-list {
  width: 16rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  font-size: 1.2rem;
  width: 25rem;
}

.item-list-span {
  display: flex;
  align-items: center;
}

input {
  height: 3rem;
  width: 30rem;
  background: #eee;
  border: solid 1px;
  border-color: #edd;
  border-radius: 6px;
  font-size: 1.2rem;
  text-align: center;
  outline-color: rgba(94, 98, 160, 0.5);
}

.add-button {
  height: 3rem;
  background: rgb(211, 211, 253);
  color: #666;
  font-size: 1.2rem;
  padding: 0 2rem;
  border-radius: 10px;
  transition: 200ms;
}

.add-button:hover {
  background-color: rgb(132, 132, 243);
  color: #222;
}
.delete-button:hover {
  background-color: rgb(243, 132, 132);
  color: #222;
}

.delete-button {
  height: 3rem;
  background: rgb(255, 203, 203);
  color: #666;
  font-size: 1.2rem;
  padding: 0 2rem;
  border-radius: 10px;
  transition: 200ms;
}
.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-items: center;
}

.buttons {
  display: flex;
  margin: 0.5rem auto;
  width: 30rem;
  justify-content: space-between;
}

@media (max-width: 600px) {
  html {
    font-size: 93.75%
  }

  .container {
    width: 100vh;
  }

  h1 {
    font-size: 4rem;
  }

  input {
    width: 35rem;
    height: 5rem;
    font-size: 2rem
  }

  input::placeholder {
    text-align: left;
    padding-left: 2rem;
  }

  .add-button {
    font-size: 2rem;
    height: auto;
    padding: 1rem 1.2rem;
    position: fixed;
    bottom: 3rem;
    left: 2.5rem;
  }

  .delete-button {
    font-size: 2rem;
    height: auto;
    padding: 1rem 1.2rem;
    position: fixed;
    bottom: 3rem;
    right: 2.5rem;
  }

  .item-list {
    font-size: 2.2rem;
    width: 34rem;
  }

  .check-button {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }

}
